* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    color: #734124;
    background-color: #FAF7F0;
}
/*Navigation*/

nav {
    background-color: #F2D7B6; 
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin: 20px 10px;
}
a::after {
 content: "";
 position: absolute;
 background-color: #591E3F;
 height: 3px;
 width: 0;
 left: 0;
 bottom: -10px;
 transition: 0.5s;
}

a:hover {
    color: #25716D;
}

a:hover::after {
    width: 100%;
}

/*header*/

.top-container{
    background-color: #F2D7B6;
    padding-top: 100px;
    position: relative;
    margin-bottom: 30px;
}


h1 {
    font-size: 5.5rem;
    font-family: 'Caveat', cursive;
    color: #591E3F;
    margin: 50px 0 10px 0;
    
}
h2 {
    color: #591E3F;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 30px auto;
   
}
h3 {
    color: #A63754;
    margin: 25px auto;
}

.cloud-1 {
 position: absolute;
 right: 300px;
 top: 50px;
}

.cloud-2 {
    position: absolute;
    left: 22.5rem;
}

.cloud-3 {
    position: absolute;
    right: 350px;
    bottom: 18.1rem;
   
}

.tent {
 margin-top: 50px;
}
@media (max-width:767px){
    h1 {
        font-size: 3rem;
        margin: 20 0 10 0;
    }
    h2 {
        font-size: 1.5rem;
    }
    .tent {
      width: 200px; 
    }
    .cloud-1, .cloud-4 {
        width: 100px; 
        position: relative;
        right: 150px;
        top: 100px; 
      }
    .cloud-2, .cloud-5  {
        width: 100px; 
        position: relative;
        left: 10rem;
        
      }
    .cloud-3, .cloud-6 {
        width: 100px; 
        position: relative;
        right: 10px;
        bottom: 200px;
    }
     
    .avatar {
        width: 10px;
    }
    nav a {
        font-size: 14px;
        padding: 0 5px;
    }
   }

.avatar {
    width: 7rem;
}
.intro {
    width: 30%;
    margin: 0 auto;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 40px auto;   
    line-height: 2;
}

.front-end {
    text-align: center;
}

hr {
    border-color: #F2D7B6;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 7%;
    border-width: 7px;
    margin: 30px auto;
}
.contact-me {
    line-height: 2;
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #591e3f;
    font-size: 20px;
    background: #f2d7b6;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 30px auto;
  }
  
  .btn:hover {
    background: #591e3f;
    background-image: -webkit-linear-gradient(top, #591e3f, #a63754);
    background-image: -moz-linear-gradient(top, #591e3f, #a63754);
    background-image: -ms-linear-gradient(top, #591e3f, #a63754);
    background-image: -o-linear-gradient(top, #591e3f, #a63754);
    background-image: linear-gradient(to bottom, #591e3f, #a63754);
    text-decoration: none;
    color: #F2D7B6;
  }
  .bottom-container {
    background-color: #F2D7B6;
    line-height: 2;
    height: 5rem;
    padding: 1rem;
  }
  .bottom-container a {
    text-decoration: none;
    color: #25716D;
    display: inline-block;
    margin: 15px;
  }
.bottom-container a:hover{
    color: #591E3F;
}
p small {
    color: #25716D;
}

/*contact*/

.contact-top-container{

    background-color: #F2D7B6;
    padding-top: 100px;
    position: relative;
}
.cloud-4 {
    position: absolute;
    right: 300px;
    top: 30px;
   }
   
   .cloud-5 {
       position: absolute;
       left: 21rem;
       top: 48px;
   }
   
   .cloud-6 {
       position: absolute;
       right: 350px;
       bottom: 16.5rem;
      
   }
.contact-header {
    margin: 0 ;
}
.form-container{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 5px 1px rgb(0, 0, 0, 0.2);
}
.form-inner {
    padding: 30px;
}
.input-holder{
    position: relative;
    margin-bottom: 25px;
}
.input-text, textarea{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #25716D;
    background: transparent;
}
.send-btn {
    cursor: pointer;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.1);
    border: none;
    font-size: 1rem;
    background: transparent;
    transition: .2s ease;
    color: #734124;
}
.send-btn:hover {
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.4);
    color: #591e3f;
}
input:focus,
textarea:focus{
 outline: 0;
 border-bottom: 2px solid #591E3F;
}

input:focus ~ .label,
textarea:focus ~ .label{
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 0.8rem;
}
